@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}
body {
  width: 100%;
  margin: 0;
  background-color: rgb(20, 20, 20);
  
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
nav{
    position: absolute;
    right: 5rem;
}
nav a {
    text-decoration: none;
    color: rgb(217, 217, 217);
    font-weight: bold;
    display: inline-block;
    padding: 0 15px;
}
header a:hover,
header a:active {
  color: #ff7011;
}
header h1 a:hover,
header h1 a:active {
  color: rgb(217, 217, 217);
}
header h1{
    color: rgb(217, 217, 217);
    margin-right: 12rem;
    margin-left: 2%;
}
nav ul{
    list-style: None;
    display: flex;
}
nav li{
    font-size: 20px;
    position: relative;
    margin-left: 4rem;
}
nav li::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 0;
    height: 3px;
    background: #ff7d26;
    transition: .4s;
}
nav li:hover::after{
    height: 20%;
    width: 100%;
}
.mobile-nav-toggle {
  display: none;
  background: hsl(0 10% 10% / 0.05);
  backdrop-filter: blur(2rem);
  background-repeat: no-repeat;
  border: 0;
  aspect-ratio: 1;
  cursor: pointer;
}
.nav-container {
  position: fixed; /* Set the container to fixed position */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background: hsl(0 0% 0% / 0.5);
  backdrop-filter: blur(1rem);
  padding: 0 2rem; /* Adjust padding as needed */
}





@media (max-width: 80rem) {
  .primary-navigation {
    top: 4rem;
    position: fixed;
    z-index: 9998;
    inset: -15px 0 0 0%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    background: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-navigation li {
    margin-top: 2rem;
    text-align: center;
    font-size: 4vw; /* Responsive font size based on viewport width */
  }

  .mobile-nav-toggle {
    display: block;
    background: hsl(0 10% 10% / 0.05);
    backdrop-filter: blur(2rem);
    background-repeat: no-repeat;
    border: 0;
    position: fixed;
    z-index: 9999;
    aspect-ratio: 1;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
  }

  .mobile-nav-toggle img {
    display: block;
  }

  nav li::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 30%;
    width: 0;
    height: 3px;
    background: #ff7d26;
    transition: .4s;
  }

  nav li:hover::after {
    height: 20%;
    width: 40%;
  }
}

@media (max-height: 80rem){
  .primary-navigation li{
    margin-top: 3rem;
  }
}

@media (max-height: 60rem){
  .primary-navigation li{
    margin-top: 2rem;
  }
}

@media (max-height: 40rem){
  .primary-navigation li{
    font-size: 20px;
  } 
  nav li::after{
    content: '';
    position: absolute;
    top: 35px;
    left: 40%;
    width: 0;
    height: 3px;
    background: #ff7d26;
    transition: .4s;
  }
  nav li:hover::after{
    height: 20%;
    width: 20%;
  }
}

@media (max-width: 768px){
  header h1{
    font-size: 20px
  }
  header{
    height: 5rem;
  }
  .mobile-nav-toggle{
    top: 1rem;
  }
}

@media screen and (min-width: 1025px) {
  nav{
    bottom: 1rem;
  }
}